{% extends 'base.html' %}
{% load static %}

{% block app_css %}
    <link rel="stylesheet" href=" {% static css_app %}">
{% endblock app_css %}

{% block header %}
<h1 style="padding-top: 220px;" class="display-4 text-white">{{judul}}</h1>
{% endblock header %}


{% block konten %}
<div class="row" style="height: 900px;">

</div>
{% endblock konten %}


{% block konten2 %}
<div class="row" style="height: 900px;">
<p style="padding: 100px;">Overload konten 2</p>
</div>
{% endblock konten2 %}
  
  